# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

# Secret Environment Variables
.env*

# Amulet User Config
.amltconfig

# Blob Fuse
.blobfuse/*.yaml
!.blobfuse/*.example.yaml

# Pretrained Models
models